# Fractal Project Specific
.DS_Store
aFilter.png
aNebula.png
aPlasma.png
images/
plasma copy.py
plasma copy2.py

#Compiled
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

images/movie2.mov

*.mov

3D ideas.rtf

3dCorners.numbers

colorCube.xcf

plasma3d copy.py

images/PlasmaFractals.pages

vectorization.numbers

unvec_plasma3d.py

unvec_plasma.py

# Stuff for fractalsite
fractalsite/fractaldata.sqlite3.db
fractalsite/fractalsite/secrets.py
fractalsite/static/images/*
fractalsite/static/assets/*
fractalsite/admin

fractalsite/assets/css/default.css

fractalsite/prototypes/spectrum/zGruntfile.js

extra files/gradient.py

wrap.html
