{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Plasma Fractal Creator</title>
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/main.css" %}'/>
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/create.css" %}'/>
        <link rel='stylesheet' href='{% static "assets/js/spectrum/spectrum.css" %}' />
        <style type='text/css'>
             .spectrum { 
                background: #333333;
                color : #eeeeee; 
                margin : 0px 0px 0px -38px; 
                } 
            .spectrum input {
                background : #333333;
                color : #eeeeee;
                }
              </style>
    </head>
    <body>
      {% csrf_token %}
        <div class="header"><h1>Plasma Fractal Creator</h1></div>
        <div class="content">
            <div id="fractal"> </div>
            <div id="create"></div>
        </div>
        <script>
          RAWFRAC_API = "{% url "api_dispatch_list" api_name="v1" resource_name="rawfractal" %}";
        </script>
        <script type="text/template" id="fractal-template">
            <p class="legend">Step 1: Create fractal</p>
            <div class="fsborder">
                <table>
                    <tr>
                        <td class="inputName">size</td>
                        <td><input class="slider" type="range" name="sizeSetting" id="sizeSetting" 
                                   min="7" max="10" value=<%- sizeSetting %>></input></td>
                        <td><p class="outputs" id="size"><%- size %></p></td>
                        <td class="imagecell" rowspan="3"><div id="fractalImage" class="nullimage"></div></td> 
                    </tr>
                    <tr>
                        <td class="inputName">roughness</td>
                        <td><input class="slider" type="range" name="roughnessSetting" id="roughnessSetting" 
                                   min="1" max="10" value=<%- roughnessSetting %>></input></td>
                        <td><p class="outputs" id="roughness"><%- roughness %></p></td>
                    </tr>
                    <tr>
                        <td class="inputName">perturbance</td>
                        <td><input class="slider" type="range" 
                                   name="perturbanceSetting" id="perturbanceSetting" 
                                   min="1" max="10" value=<%- perturbanceSetting %>></input></td>
                        <td><p class="outputs" id="perturbance"><%- perturbance %></p></td>
                    </tr>
                    <tr>
                        <td><button id="createFractal">create fractal</button></td>
                    </tr>
                </table>
            </div>
        </script>
        <script type="text/template" id="create-template">
            <p class="legend">Step 2: Add Gaussian filter 
            </p>
            <div class="fsborder" id="gaussianInputs">
                <table id="filters">
                    <tr>
                        <td colspan=2>
                            <div id="buttonCell">
                            <button id="filterPlus">+</button>
                            <button id='filterMinus' class='hidden'>-</button>
                            <button id='filterPrevious' class='hidden'>&lt;</button>
                            <button id='filterNext' class='hidden'>&gt;</button>
                            </div>
                        </td>
                    </tr>
                    <tr class='gaussInputs hidden'>
                        <td class='inputName spacer' id ='xLabel'>X1</td>
                        <td>
                            <input type='range' name='gaussXSetting' id='gaussXSetting'
                                   min='-80' max='80' value='0'/>
                        </td>
                        <td>
                            <input class='outputs' id='gaussX' value="128"></input>
                        </td>
                        <td class='imagecell' id='gausscell' rowspan='5'>
                            <div id='gaussPreview' class='nullimage'></div>
                        </td>
                    </tr>
                    <tr class='gaussInputs hidden'>
                        <td class='inputName spacer' id ='yLabel'>Y1</td>
                        <td>
                            <input type='range' name='gaussYSetting' id='gaussYSetting'
                                   min='-80' max='80' value='0'/>
                        </td>
                        <td>
                            <input class='outputs' id='gaussY' value="128"></input>
                        </td>
                    </tr>
                    <tr class='gaussInputs hidden'>
                        <td class='inputName' id = 'sigmaXLabel'>sigma X1</td>
                        <td>
                            <input type='range' name='gaussSigmaXSetting' id='gaussSigmaXSetting'
                                   min='-6' max='8' value='0"'/></td>
                        <td><p class='outputs' id='gaussSigmaX'>0</p></td>
                    </tr>
                    <tr class='gaussInputs hidden'>
                        <td class='inputName' id = 'sigmaYLabel'>sigma Y1</td>
                        <td>
                            <input type='range' name='gaussSigmaYSetting' id='gaussSigmaYSetting'
                                   min='-6' max='8' value='0'/>
                        </td>
                        <td><p class='outputs' id='gaussSigmaY'>0</p></td>
                    </tr>
                </table>
            </div>
            <p class="legend">Step 3: Choose colors</p>
            <div class="fsborder">
                <table id="colorTable">
                    <tr>
                        <td class="inputName">
                            heat map
                        </td>
                        <td width="20px">
                            <input type="radio" class = "colorType" name="colorType" 
                                   id="useHeat" <%= useHeat ?  'checked' : '' %>></input>
                        </td>
                        <td width ="240px" height="42px" colspan=2>
                            <div id='heatPreview'></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="inputName">
                            gradient
                        </td>
                        <td width="20px">
                            <input type="radio" class="colorType" name="colorType" 
                                   id="useGradient" <%= useHeat ?  '' : 'checked' %>></input>
                        </td>
                        <td width ="240px" height="42px" colspan=2>
                            <div id='gradientPreview'></div>
                        </td>
                    </tr>
                    <tr class="gradientInputs">
                        <td></td>
                        <td colspan=2>
                            <table id="colorStopTable">
                                <tr></tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="createImageRow">
                        <td><button id="createImage">create image</button></td>
                    </tr>
                </table>
            </div>
        </script>
        <script type="text/template" id="colorstop-template">
            <td class="useColorCell">
                <% if (optional)
                {
                    if (useStop)
                    {
                        print("<input type='checkbox' class='useStop' checked></input>");
                    }
                    else
                    {
                        print("<input type='checkbox' class='useStop'></input>");
                    }
                }
                %>
            </td>
            <td></td>
            <td>
                <input class='colorSelect' id='color<%=order %>'></input>
                <input type ="range" class="colorStop" min=0 max=255 value=<%=stop %>></input>
            </td>
          </script>
          <script data-main='{% static "assets/js/main" %}' src='{% static "assets/js/lib/require.min.js" %}'></script>
    </body>
</html>
