{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Plasma Fractal Creator</title>
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/main.css" %}'/>
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/create.css" %}'/>
        <link rel='stylesheet' href='{% static "assets/js/spectrum/spectrum.css" %}' />
        <style type='text/css'>
             .spectrum { 
                background: #333333;
                color : #eeeeee; 
                margin : 0px 0px 0px -38px; 
                } 
            .spectrum input {
                background : #333333;
                color : #eeeeee;
                }
              </style>
    </head>
    <body>
      {% csrf_token %}
        <div class="header"><h1>Plasma Fractal Creator</h1></div>
        <div id="content" class="content">
        </div>
        <script data-main='{% static "assets/js/main" %}' src='{% static "assets/js/lib/require.min.js" %}'></script>
    </body>
</html>
