{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Plasma Fractal Creator</title>
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/main.css" %}'/>
        <link rel='stylesheet' type='text/css' href='{% static "assets/css/create.css" %}'/>
        <link rel='stylesheet' href='{% static "assets/js/spectrum/spectrum.css" %}' />
        <style type='text/css'>
             .spectrum { 
                background: #333333;
                color : #eeeeee; 
                margin : 0px 0px 0px -38px; 
                } 
            .spectrum input {
                background : #333333;
                color : #eeeeee;
                }
              </style>
    </head>
    <body>
      {% csrf_token %}
        <div class="header"><h1>Plasma Fractal Creator</h1></div>
        <div class="content">
            <div id="contentA"></div>
            <div id="contentB"></div>
        </div>
        <script>
          MATRIX_API = "{% url "api_dispatch_list" api_name="v1" resource_name="matrix" %}";
        </script>
        <script data-main='{% static "assets/js/main" %}' src='{% static "assets/js/lib/require.min.js" %}'></script>
    </body>
</html>
