body {
    font: 14px "Verdana" sans-serif;
    color: #b43d8e;
    background-image : url('../plasma.png');
    background-size : 1400px 1400px;
    background-repeat : no-repeat;
    background-attachment : fixed;
    padding : 8px;
    }
    
.header {
    position: absolute;
    top : 0px;
    left : 80px;
    width : 1000px;
    height : 90px;
    background-color: #000000;
    border-bottom-left-radius : 30px;
    border-bottom-right-radius : 30px;
    padding-left : 40px;
    padding-right : 40px;
    }
   
.headerSubmenu {
    border-bottom-right-radius : 0px;
    }
    
.headerShort {
    height : 50px;
    text-align : center;
    }
   
.menus {
    position: absolute;
    top : 0px;
    left : 160px;
    width : 300px;
    height : 30px;
    color: #b43d8e;
    border-bottom-left-radius : 30px;
    border-bottom-right-radius : 30px;
    background-image: linear-gradient(left , #14194f 0%, #000000 41%);
    background-image: -o-linear-gradient(left , #14194f 0%, #000000 41%);
    background-image: -moz-linear-gradient(left , #14194f 0%, #000000 41%);
    background-image: -webkit-linear-gradient(left , #14194f 0%, #000000) 41%);
    background-image: -ms-linear-gradient(left , #14194f 0%, #000000 41%);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #14194f),
        color-stop(0.41,#000000)
        );
    }
    
.menus > p  { 
    margin : 0px 0px 16px 40px;
    font-size : 14px;
    }
    
.menuCurrent {
    color : #eeeeee;
    }

#menuHome {
    top : 60px;
    left : 80px;
    background-image : none;
    }
    
#menuAll {
    font-size : 10px;
    top : 90px;
    left : 400px;
    width : 760px;
    background-image : none;
    background-color : black;
    }

.content {
    position: absolute;
    top : 130px;
    left : 80px;
    width : 1000px;
    border-radius: 30px;
    background-color : black;
    padding : 20px 40px;
    }

.contentSubmenu {
    top : 160px;
    }
    
.contentShort {
    top : 80px;
    padding : 40px;
    }

h1 {
    font: 16pt "Verdana" sans-serif;
    }
    
table {
    background-color : black;
    }
    
.inputName {
    text-align : right;
    width : 100px;
    }

input[type='range'] {
    -webkit-appearance: none !important;
    background:#666666;
    height:2px;
    }

.outputs { 
    font-size : 10px;
    width : 60px;
    border-radius : 10px;
    color : #eeeeee;
    background : black;
    text-align : center;
    border : 4px ridge #333333;
    }

button {
    width : 100px;
    background-color : black;
    border-radius : 10px;
    color : #bbbbbb;
    }
    
fieldset { 
    border : none;
    }
    
.fsborder {
    padding : 3px;
    background-image: linear-gradient(left , #333333 0%, #000000 41%);
    background-image: -o-linear-gradient(left , #333333 0%, #000000 41%);
    background-image: -moz-linear-gradient(left , #333333 0%, #000000 41%);
    background-image: -webkit-linear-gradient(left , #333333 0%, #000000) 41%);
    background-image: -ms-linear-gradient(left , #333333 0%, #000000 41%);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #333333),
        color-stop(0.41,#000000)
        );
    }

.legend {
    margin : 30px 0px 10px 0px;
    font-size : 16px;
    }
    
.hidden {
    display: none;
    }
    

#buttonCell {
    margin-left : -4px;
    width : 260px;
    text-align : left;
    }

#buttonCell > button {
    width : 60px;
    }